.DivBotonAgregar {
  /* background-color: rgba(102, 102, 102, 255); */
  background: rgba(0,0,0,0);
  position: absolute;
  z-index: 6;
  top: 90%;
}

#BotonAgregar {
  border: 0px;
}

#BotonAgregar:hover {
  transform: scale(1.1);
}

#DivModalAgregarTarea{
    background-color: aliceblue;
    position: absolute;
    visibility:hidden;
    width: 500px;
    height: 300px;
     border-radius: 30px; 
    background-color: rgba(81,81,81,1);
    display: flex;
    /* justify-content: center; */
     align-items: center; 
    flex-direction: column;     
    z-index: 5;    
}    

.tituloH2{
    margin: 30px;    
}

#tituloTarea{
    width: 400px;
    margin-bottom: 20px;

}
#descripcionTarea{
    width: 400px;
    margin-bottom: 20px;
}

#btnAgregar{
    width: 400px;
    margin-bottom: 15px;
}
#btnCancelar{
  width: 400px;
  margin-bottom: 20px;
}


