#BotonEliminar {

  width: 40px;
  border: none;
  position: absolute;
  top: 78%;
  left: 83%;
}
#BotonEditar {

  width: 40px;
  border: none;
  position: absolute;
  top: 78%;
  left: 68%;
}


#BotonEliminar:hover {
  scale: 1.1;
}
.tarjeta {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;

  height: 15em;
  width: 15em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
 
}
.tituloTarjeta {
  font-weight: bold;
  font-size: 2rem;
}
.descripcionTarjeta {
  font-family: "Reenie Beanie";
  font-size: 2rem;
  width: 6.5em;
  height: 5.5em;
  /* white-space: nowrap; */
   overflow: auto; 
  text-overflow: ellipsis;
  
}

.tarjeta:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #cfc;
}
.tarjeta:nth-child(3n) {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #ccf;
}
.tarjeta:nth-child(5n) {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
}
.tarjeta:hover,
.tarjeta:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}
